.wrapper {
   width: 100%;
}
.heading {
   margin-top: 30px;
   font-family: var(--second-family);
   font-weight: 400;
   font-size: 28px;
   line-height: 111%;
   color: #494949;
}

.miniWrapper {
   margin: 10px 0;
   display: flex;
   gap: 10px;
   align-items: center;
}
.btn {
   margin-top: 30px;
   font-family: var(--third-family);
   font-weight: 600;
   font-size: 20px;
   line-height: 124%;
   letter-spacing: 0.03em;
   text-align: center;
   color: #fff;
   border-radius: 30px;
   width: 221px;
   height: 40px;
   background: linear-gradient(178deg, #c00505 0%, #8e0303 100%);
}
