.wrapper {
   display: flex;
   position: relative;
   margin-bottom: 50px;
   &::after {
      content: "";
      position: absolute;
      bottom: -50px;
      left: 0;
      right: 0;
      height: 1px;
      margin: 10px 0 40px;
      background: #c0bdbd;
   }
   &:last-child {
      &::after {
         display: none;
      }
   }
}
.left {
   width: 370px;
   margin-right: 30px;
}
.right {
   width: 770px;
}
.reviewWrapper {
   display: flex;
   gap: 30px;
}

.employee {
   display: flex;
   align-items: center;
   margin-bottom: 20px;
}

.name {
   font-family: var(--third-family);
   font-weight: 400;
   font-size: 40px;
   line-height: 77%;
   color: #494949;
   margin-right: 30px;
}
.avgStars {
   font-family: var(--second-family);
   font-weight: 400;
   font-size: 21px;
   line-height: 148%;
   color: #494949;
   margin-left: 12px;
}
.comment {
   font-family: var(--font-family);
   font-weight: 400;
   font-size: 21px;
   line-height: 148%;
   color: #494949;
}
