.textarea {
   // display: block;
   border: 1px solid #757575;
   border-radius: 20px;
   width: 770px;
   height: 103px;
   padding: 10px;
   resize: none;
   overflow: scroll;
   color: #5a5a5a;
   font-family: var(--font-family);
   font-weight: 400;
   font-size: 21px;
   line-height: 148%;
   background-color: #fff;
   &:focus {
      color: #949494;
      // border: 2px solid #5a5a5a;
      outline: 2px solid #5a5a5a;
   }
   &:hover {
      border: 1px solid #5a5a5a;
   }
   &::placeholder {
      font-family: var(--font-family);
      font-weight: 400;
      font-size: 21px;
      line-height: 148%;
      color: #494949;
      opacity: 0.5;
   }
}
